<config>

  <interface hosts="mtg_host[*]" names="wlan0" towards="multicast_router" address="172.0.x.x" netmask="255.255.255.0" mtu="1500"/>
  <interface hosts="sink" names="wlan0" towards="multicast_router" address="172.0.x.x" netmask="255.255.255.0" mtu="1500"/>
  <interface hosts="multicast_router" names="wlan0" address="172.0.x.x" netmask="255.255.255.0" mtu="1500"/>

  <multicast-group hosts="mtg_host[*]" towards="multicast_router" address="225.0.0.1"/>
  <multicast-group hosts="sink" towards="multicast_router" address="225.0.0.1"/>
  
  <multicast-route hosts="multicast_router" groups="225.0.0.1" children="ap"/>
  
</config>